.header_block {
  position: relative;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.header_block_img {
  display: block;
  width: 100%;
  height: auto;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 100%;
}

.text-overlay h1 {
  margin: 0;
  font-size: 44px;
}

.text-overlay p {
  margin: 5px 0 0;
  font-size: 26px;
}

.container {
  display: flex;
  margin: 100px 0;
}

.container_left {
  width: 50%;
  align-items: center;
  text-align: center;
}
.container_left p {
  width: 70%;
  margin: 60px auto;
  font-size: 21px;
}
.container_left h3 {
  font-size: 30px;
}
.container_right {
  width: 50%;
}
.container_right img {
  float: right;
}

.about_block {
  position: relative;
  height: 450px;
  padding: 50px;
  margin: 50px auto;
  align-items: center;
  text-align: center;
  /* background-image: url("../images/Карта\ 2.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center; */
  background-image: url("../images/gruzoperevozki5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: white;
}
.about_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.about_block h3 {
  position: relative;
  font-size: 30px;
  z-index: 2;
}

.about_block p {
  position: relative;
  margin: 50px auto;
  font-size: 21px;
  width: 70%;
  z-index: 2;
}
.card_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card {
  position: relative;
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  margin: 10px 0;
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card p {
  text-align: center;
  z-index: 1;
  position: relative;
  color: white;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.card:hover {
  transform: scale(1.05); /* увеличиваем размер при наведении */
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
  }
  .container_left,
  .container_right {
    width: 100%;
  }
  .container_left p {
    width: 80%;
    font-size: 16px;
  }
  .about_block {
    padding: 5px;
  }
  .about_block p {
    width: 100%;
    font-size: 16px;
  }
  .about_block h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 730px) {
  .container_left p {
    width: 100%;
    font-size: 14px;
  }

  .about_block p {
    font-size: 12px;
    width: 100%;
  }
  .container_right_img {
    width: 100%;
  }
}
